@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.validation-container {
    display: none;
    position: absolute;
    right: 2%;
    top: 40%;
}
.validation-container-fname {
    display: none;
    position: absolute;
    right: 2%;
    top: 40%;
} 
.validation-container-lname {
    display: none;
    position: absolute;
    right: 2%;
    top: 40%;
} 
.validation-container-city {
    display: none;
    position: absolute;
    right: 2%;
    top: 40%;
} 
.validation-container-state {
    display: none;
    position: absolute;
    right: 2%;
    top: 40%;
} 
.validation-container-salary {
    display: none;
    position: absolute;
    right: 2%;
    top: 40%;
} 
.validation-container-email {
    display: none;
    position: absolute;
    right: 2%;
    top: 40%;
} 
.error {
    color: red !important;
    text-shadow: 0px 1px 3px rgba(150, 150, 150, 0.7);
    font-size: 28px;
}
.success {
    font-size: 28px;
    margin-right: 2px;
    color: rgb(13, 202, 13) !important;
    text-shadow: 0px 1px 3px rgba(150, 150, 150, 0.7);
}

.validation-message {
    display: none;
    color: crimson;
    font-size: 10px;
    font-style: italic;
}